*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 1rem;
   margin: 1rem;
}
.tabs{
    background-color: rgb(245, 244, 244);
    display: flex;
    /* gap: 1rem; */
    /* padding: 0.2rem; */
}
.btn{
    border: none;
    background-color: rgb(245, 244, 244);
    color:  grey;
    font-weight: bolder;
    padding: 1rem 1.8rem;
}
.btn:hover{
   
    cursor: pointer;
    background-color: rgb(189, 183, 183);
}
.btn:focus{
    background-color: rgb(194, 126, 243);
    color: rgb(75, 3, 104);
    border-bottom: 2px solid rgb(75, 3, 104);;
}
.scroll-tab{
   width:20rem;   
   overflow-x: auto;
   overflow-y: hidden;

}
.scroll-tab::-webkit-scrollbar{
    display: none;
}